
svg text{
 
    font-size: 210px;
    font-weight: 900;
    stroke-width: 7 ;
    stroke: #3B82F6;
    animation: lineAnime  5s ease forwards, fillColor ;
}
@keyframes lineAnime {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;

    }
    100%{
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -10%;

    }
    
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }

}

@keyframes fillColor {

    to {
        fill: white;
    }
}
 /* @media (max-width: 1600px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 50px;
        width: 250px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}

@media (max-width: 1200px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 50px;
        width: 250px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}

@media (max-width: 1024px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 50px;
        width: 250px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}

@media (max-width: 786px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 40px;
        width: 200px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}

@media (max-width: 480px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 40px;
        width: 200px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}  
 */

