
svg text{
    stroke: rgb(31, 26, 26);
    font-size: 150px;
    font-weight: 700;
    stroke-width: 5 ;
    animation: lineAnime 5s ease forwards;
}
@keyframes lineAnime {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;

    }
    100%{
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -10%;

    }
    
}
 /* @media (max-width: 1600px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 50px;
        width: 250px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}

@media (max-width: 1200px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 50px;
        width: 250px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}

@media (max-width: 1024px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 50px;
        width: 250px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}

@media (max-width: 786px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 40px;
        width: 200px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}

@media (max-width: 480px) {
    #logo {
        stroke-width: .5px;
        stroke: white;
        height: 40px;
        width: 200px;
        animation: fillColor 1s ease forwards 3.5s;
    }
}  
 */

