
.loading_container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
            background: linear-gradient(to bottom right, #000D19, #000A10, #030C11, #020B11, #020B11, #020B11, #020B11, #020B11, #020A10, #000000);

    animation: sc 1s linear forwards 10s ;
    /* background: aqua; */
    /* background: linear-gradient(to bottom right, #000D19, #000A10, #030C11, #020B11, #020B11, #020B11, #020B11, #020B11, #020A10, #000000); */
    /* background: linear-gradient(to bottom right, #FFFFFF, #E0E0E0, #C0C0C0, #A0A0A0, #808080, #606060, #404040, #202020, #000000); */
    /* background: linear-gradient(to bottom right, #F5F5F5, #E0E0E0, #A9A9A9, #707070, #505050, #303030, #101010, #000000); */


}

.loading_logoParent{
    
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    /* height: 900px; */
}

@keyframes sc {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

